@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);
html,
body {
  margin: 0;
}

#App {
  height: 100vh;
}

#main-content {
  overflow: auto;
  height: 100%;
  min-height: 100%;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: linear-gradient(rgba(15, 21, 63, 1), rgba(15, 21, 63, 0.9)),
    url(ca106ca7c48c324708df9be86dbf7045.jpg);
  overflow: hidden !important;
  background-position: center;
  background-size: cover;
  padding: 2.5em 1.5em 0;
  font-size: 14px;
}

.bm-menu img {
  max-height: 50px;
}

.bm-menu hr {
  width: 100%;
  margin-bottom: 20px;
  border: none;
  height: 1px;
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.6);
}

.bm-menu > nav {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.bm-menu .logo {
  margin: auto;
  display: block;
}

.bm-menu > nav > .menu-item > a {
  width: 100%;
  display: block;
  color: #fff;
  padding: 10px 5px;
  border-left: 2px solid rgba(255, 255, 255, 0);
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
  text-decoration: none;
  transition: all ease 0.2s;
}

.bm-menu > nav > .menu-item > a:hover,
.bm-menu > nav > .menu-item.active > a {
  background: rgba(0, 0, 0, 0.3);
  border-left: 2px solid rgba(255, 255, 255, 1);
}

.bm-menu > nav > .menu-item {
  display: block !important;
  width: 100%;
  margin-bottom: 2px;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(255, 255, 255, 0.8) !important;
}

html,
body {
  font-family: "Lato", sans-serif;
  overflow: hidden;
}
#App {
  transition: all ease-in 0.2s;
}

.learning-materials button {
  margin: 2px 2px !important;
}

.learning-materials .segment {
  opacity: 0.5 !important;
  transition: all ease-in 0.2s;
}

.learning-materials .segment:hover {
  opacity: 1 !important;
}

.ui.violet.button,
.ui.violet.button:focus {
  background: rgba(15, 21, 63, 1);
}

.ui.violet.button:hover {
  background: rgb(12, 16, 48);
}

.next-section {
  font-size: 20px;
  color: #fff;
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  left: 0;
}

.next-section > * {
  cursor: pointer;
}

.next-section > *:hover {
  opacity: 0.7;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.section {
  background-size: cover !important;
}
.section.s1 {
  background: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url("/static/images/connections.png");
}
.section.s2 {
  background: linear-gradient(rgba(15, 21, 63, 1), rgba(15, 21, 63, 0.8)),
    url("/static/images/hexagons.jpg");
}
.section.s3 {
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1)),
    url("/static/images/s3.jpg");
  background-position: top;
}

.welcome span {
  display: block;
  clear: both;
}

.welcome span:nth-child(1) {
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
  display: block;
  line-height: 30px;
}
.welcome span:nth-child(2) {
  font-size: 20px;
  display: block;
  margin-bottom: 20px;
}

.section.s1 .column {
  align-items: center !important;
  justify-content: center !important;
  display: flex !important;
  padding: 100px !important;
}

.section.s2 .header,
.section.s2 p {
  color: #fff !important;
}

.video {
  background: #fff;
  min-width: 600px;
  min-height: 400px;
  border: 2px solid #fff;
  border: 5px solid #fff;
  outline: 5px solid rgba(15, 21, 63, 1);
}

.instructors .item {
  cursor: context-menu;
  padding: 15px !important;
  align-items: center !important;
  justify-content: center !important;
  display: flex !important;
}

.instructors .image {
  width: auto !important;
}

.instructors .item {
  transition: all ease 0.2s !important;
  opacity: 1 !important;
}

.instructors .item:hover {
  opacity: 0.8 !important;
}

.instructors .item .meta {
  margin: 0 !important;
  font-size: 12px !important;
}
.instructors .item .description {
  font-size: 11px !important;
  margin-top: 2px !important;
}

.instructors img {
  border-radius: 100px !important;
  width: 50px !important;
  height: 50px !important;
}

.announcements-wrapper {
  align-items: center !important;
  justify-content: center !important;
  display: flex !important;
  flex-direction: column !important;
}

.announcements {
  width: 100%;
  padding: 20px 0 !important;
}

.announcements-wrapper .header {
  width: 100% !important;
}

.announcements a {
  color: #000 !important;
}

.announcements a:hover {
  color: rgba(15, 21, 63, 0.8) !important;
}

.announcements {
  overflow-y: auto !important;
  max-height: 300px !important;
}

.announcements .item {
  transition: all ease 0.2s !important;
  border-left: 5px solid rgba(255, 255, 255, 1) !important;
  padding: 20px !important;
  cursor: pointer;
}

.announcements .content {
  overflow: hidden;
}

.announcements .extra {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.announcements .item:hover {
  border-left: 5px solid rgba(15, 21, 63, 1) !important;
}


/*# sourceMappingURL=styles.chunk.css.map*/